@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

@media screen and (max-width: 768px) {
  /* Mobile-specific styles go here */

  html {
	overflow: hidden;
  }

  body {
    overflow: hidden;
  }

  .hero-section {
    height: 100vh;
    overflow: hidden;
  }

  .hero-section h1 {
    font-size: 8vw;
  }

  .about-section,
  .contact-section,
  .status-section,
  .workexperience-section,
  .projects-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transform: translateY(100%);
  }

  body.about-on .about-section,
  body.contact-on .contact-section,
  body.status-on .status-section,
  body.workexperience-on .workexperience-section,
  body.projects-on .projects-section {
    transform: translateX(0);
  }

  .about-text,
  .contact-text {
    display: block;
  }

  .section-center {
    padding: 20px;
  }

  .work_ex_container {
    padding: 20px;
  }

  .card {
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
}


body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.6;
	color: #e6e6fa;
	background-color: #0c0c0c;
	overflow: hidden !important;
	height: 100vh;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	perspective: 800px;
}

/* Popup */

.material-popup {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(230, 18, 18, 0.5);
	color: white;
	padding: 3px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	display: flex;
	align-items: center;
	z-index: 1;
}

.info-logo {
	width: 40px;
	height: 40px;
	background-image: url('../static/images/warning.png');
	background-size: cover;
	border-radius: 50%;
	margin-right: 10px;
}

.material-popup.show {
	opacity: 1;
}

.material-popup span {
	font-family: 'Star Jedi', sans-serif;
}

/* Popup EnD */

/* Loading Scr33n */
#loading-screen {
	background-color: #000;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9997;
}

a:hover {
	text-decoration: none;
}

::selection {
	color: #c4c3ca;
	background-color: #000;
}

::-moz-selection {
	color: #c4c3ca;
	background-color: #000;
}

#avatar-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.stars {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: #fff;
	z-index: 9998;
}

.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: rgb(75, 213, 238);
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 3.25rem;
	width: 80%;
	opacity: 0;
	animation: intro 2s ease-out 0.5s;
	z-index: 9999;
}

@keyframes intro {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	opacity: 0;
	animation: logo 3s ease-out 2s;
	z-index: 9999;
}

.logo img {
	width: inherit;
	z-index: 9999;
}

@keyframes logo {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(2);
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
}

p {
	color: #FFE81F;
}

#scroller {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	height: 50em;
	width: 20em;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10em;
	z-index: 0;
	transform: perspective(350px) rotateX(25deg);
	transform-origin: 50% 100%;
	z-index: 9999;
}

#scroller::after {
	position: absolute;
	content: "";
	bottom: 60%;
	left: 0;
	right: 0;
	top: 0;
}

#content {
	position: absolute;
	top: 100%;
	animation: scoller 40s linear 4s;
	z-index: 9999;
}

@keyframes scoller {
	0% {
		top: 100%;
	}

	100% {
		top: -200%;
	}
}

#title,
#subtitle {
	text-align: center;
	line-height: 2.5rem;
}

#subtitle {
	text-transform: uppercase;
	font-size: 3.5rem;
}


/* #Primary style
================================================== */

.hero-section {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
	transform: scale(1) rotateX(0);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
	transform-origin: center top;
}

.hero-section h1 {
	color: #e6e6fa;
	font-size: 5vw;
	line-height: 1;
	font-weight: 900;
}

.hero-section .dancing {
	font-family: 'Dancing Script', cursive;
	letter-spacing: 1px;
	color: #FFBFFF;
	font-size: 40px;
	font-weight: bolder;
	line-height: 1;
}

@media screen and (max-width: 580px) {
	.hero-section .dancing {
		font-size: 28px;
		line-height: 2;
	}
}

.hero-section p {
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
	color: #e6e6fa;
	letter-spacing: 1px;
}

.hero-section p span {
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	display: inline-block;
	padding-bottom: 35px;
}

.hero-section p span:before {
	position: absolute;
	content: '';
	bottom: 10px;
	left: 50%;
	height: 30px;
	width: 30px;
	margin-left: -15px;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/down.svg');
	opacity: 0.2;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.hero-section p span:hover:before {
	opacity: 1;
	bottom: 5px;
}

body.about-on .hero-section {
	transform: scale(0.75);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}

body.contact-on .hero-section {
	transform: scale(0.75);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}

body.status-on .hero-section {
	transform: rotateX(-10deg);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}

body.workexperience-on .hero-section {
	transform: rotateX(-10deg);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}

body.projects-on .hero-section {
	transform: rotateX(-10deg);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}

.about-text {
	position: absolute;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	color: #e6e6fa;
	letter-spacing: 2px;
	top: 50%;
	left: 40px;
	z-index: 2;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	transform: translateY(-50%);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.about-text:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -25px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/left.svg');
	opacity: 0.2;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.about-text:hover:before {
	opacity: 1;
	left: -30px;
}

.about-section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
	background-image: url('../static/images/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(-100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 10;
}

body.about-on .about-section {
	transform: translateX(0);
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}

.about-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	z-index: 11;
}

.about-close:hover {
	transform: rotate(90deg);
}

.section-center {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.about-section img {
	width: 100px;
	height: 100px;
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.about-section p {
	font-size: 20px;
	font-weight: 800;
}

.about-section p span {
	font-family: 'Dancing Script', cursive;
	letter-spacing: 1px;
	color: #FFBFFF;
	font-size: 35px;
	font-weight: 400;
}

.contact-text {
	position: absolute;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	color: #e6e6fa;
	letter-spacing: 2px;
	top: 50%;
	right: 40px;
	z-index: 2;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	transform: translateY(-50%) rotate(180deg);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.contact-text:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -25px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/left.svg');
	opacity: 0.2;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.contact-text:hover:before {
	opacity: 1;
	left: -30px;
}

.contact-section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
	background-image: url('../static/images/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 10;
}

body.contact-on .contact-section {
	transform: translateX(0);
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}

.contact-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	z-index: 11;
}

.contact-close:hover {
	transform: rotate(90deg);
}

.contact-section a {
	margin: 0 auto;
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 1px;
	color: #FFE81F;
	display: inline-block;
}

.contact-section a i {
	font-size: 36px;
	margin-right: 10px;
	color: #2e557c;
}

.contact-section .social a {
	margin: 0 8px;
	font-size: 20px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #FFBFFF;
}

@media screen and (max-width: 580px) {
	.contact-section a {
		font-size: 17px;
	}

	.contact-section .social a {
		margin-left: 3px;
		margin-right: 3px;
		font-size: 13px;
		letter-spacing: 0;
	}
}

.status-section,
.workexperience-section,
.projects-section {
	position: fixed;
	top: 100%;
	left: 0;
	padding: 100px 0;
	width: 100%;
	height: 100vh;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-image: url('../static/images/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 10;
}

.status-close,
.workexperience-close,
.projects-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	z-index: 11;
}

.status-close:hover,
.workexperience-close:hover,
.projects-close:hover {
	transform: rotate(90deg);
}

body.status-on .status-section {
	top: 0;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}

body.workexperience-on .workexperience-section {
	top: 0;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}

body.projects-on .projects-section {
	top: 0;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}

.status-section img,
.workexperience-section img,
.projects-section img {
	margin-top: 30px;
	width: 100%;
	height: auto;
	display: block;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.status-section h3,
.workexperience-section h3,
.projects-section h3,
.contact-section h3 {
	font-size: 44px;
	line-height: 1.3;
	font-weight: 700;
	letter-spacing: 1px;
	color: #e6e6fa;
}

.status-section p,
.workexperience-section p,
.projects-section p,
.contact-section p {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 1px;
}

.status-section p span,
.workexperience-section p span,
.projects-section p span,
.contact-section p span {
	font-size: 20px;
	line-height: 1.3;
	font-weight: 700;
	color: #FFE81F;
}

/* #Link to page
================================================== */

.link-to-portfolio {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 200;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 3px;
	background-position: center center;
	background-size: 65%;
	background-repeat: no-repeat;
	background-image: url('https://assets.codepen.io/1462889/fcy.png');
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .1);
	transition: opacity .2s, border-radius .2s, box-shadow .2s;
	transition-timing-function: ease-out;
}

.link-to-portfolio:hover {
	opacity: 0.8;
	border-radius: 50%;
	box-shadow: 0 0 0 20px rgba(255, 255, 255, .1);
}

/* Name Line */

#outslogan {
	text-align: right;
	font-size: clamp(1.5rem, 4.5vw, 3.5rem);
	margin-top: 10%;
	color: #e6e6fa;
}

#slogan {
	text-align: left;
	margin-left: -15px;
	margin-right: 90px;
	font-size: clamp(1.5rem, 4.5vw, 3.5rem);
	margin-top: 10%;
	color: #e6e6fa;
}

#slogan span {
	color: #FDDA0D
}

/* #FDDA0D*/
#slogan span.selected {
	background: #09f;
	color: #e6e6fa;
}


@media screen and (max-width: 768px) {
  #outslogan {
    text-align: center;
    font-size: 36px;
    margin-top: 5%;
    color: #e6e6fa;
  }

  #slogan {
    text-align: center;
    margin-left: 0;
	margin-bottom: 45%;
    margin-right: 0;
    font-size: 36px;
    margin-top: 5%;
    color: #e6e6fa;
  }
}

/* Name Line End */

/* Work Experience */

.title {
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 700;
	color: #5D4037;
	text-align: center;

}

p {
	line-height: 1.5em;
}

h1+p,
p+p {
	margin-top: 10px;
}

.work_ex_container {
	padding: 40px 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-wrap {
	margin: 10px;
	transform: perspective(800px);
	transform-style: preserve-3d;
}

.card-wrap:hover .card-info {
	transform: translateY(0);
}

.card-wrap:hover .card-info p {
	opacity: 1;
}

.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
	font-weight: bold;
	color: #FFE81F;
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
	transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 1;
	transform: translateY(0);
}

.card-wrap:hover .card-bg {
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0.8;
	filter: blur(15px);
	background-color: rgba(0, 0, 0, 0.9);
}

.card-wrap:hover .card {
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
	box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
	position: relative;
	flex: 0 0 240px;
	width: 240px;
	height: 320px;
	background-color: #333;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
	opacity: 0.5;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	pointer-events: none;
}

.card-info {
	padding: 20px;
	position: absolute;
	bottom: 0;
	color: #e6e6fa;
	transform: translateY(40%);
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
	opacity: 0;
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
	position: relative;
	z-index: 1;
}

.card-info:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
	background-blend-mode: overlay;
	opacity: 0;
	transform: translateY(100%);
	transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
	font-family: "Playfair Display";
	font-size: 36px;
	font-weight: 700;
	text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
	color: #FFFDD0;
}

a {
	color: #1abc89;
}

a:hover {
	opacity: 0.8;
}

.small {
	font-size: 1rem;
	margin-top: 1em;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 4rem 2rem;
}

header {
	text-align: center;
	padding-bottom: 3rem;
}

h1 {
	font-size: 2.6rem;
	line-height: 1.2em;
	padding-bottom: 1rem;
	font-weight: 600;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

circle {
	transform-origin: 50% 50%;
	transform: scale(0);
	transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

text {
	font-size: 1.1rem;
	text-transform: uppercase;
	text-anchor: middle;
	letter-spacing: 1px;
	font-weight: 600;
}

.svg-text {
	fill: #545a64;
}

.svg-masked-text {
	fill: white;
}

image {
	transform: scale(1.1);
	transform-origin: 50% 50%;
	transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.items {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 200px;
	margin: 5px;
	background-color: #353c3b;
	border-radius: 2px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02), inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
	transform: translateZ(0);
}

.item:hover circle,
.item:hover image {
	transform: scale(1);
}

button {
	width: 12px;
	height: 12px;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
	border-radius: 1px;
}

button.dark {
	background-color: #2f3238;
}

button.light {
	background-color: #f9f9f9;
}

.options {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.options button {
	margin-left: 0.5rem;
}

.light {
	background-color: #f9f9f9;
	color: #1a1a1a;
}

.light p {
	color: rgba(26, 26, 26, 0.5);
}

.light .item {
	background: #f5f5f5;
}

.light .svg-text {
	fill: rgba(0, 0, 0, 0.1);
}

/* Projects END */