body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #000 no-repeat;
  background-size: 100%;
}

.container {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  margin-top: calc(50% + 25px);
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  //stroke: #EC0033;
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span {
  background: rgb(255, 130, 130);
  background: -moz-linear-gradient(left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
  background: linear-gradient(to right, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}


/* Skills Animation */

:root {
  --color-black: #232323;
  --color-green: #FDDA0D;
  --coler-yellowgreen: #FDDA0D;
  --color-orange: #ff7f00;
  --color-white: #ffffff;
  --color-gray: #645454;
  --color-yellow: #ffc501;
  --color-sky: #00acff;
  --font-EN: "Readex Pro", sans-serif;
  --font-KR: "Noto Sans KR", sans-serif;
  --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
  --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.2rem);
  --step-0: clamp(4.5rem, 3.64rem + 4.29vw, 9rem);
}

.con {
  width: 1466px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* cursors */

div.cursors div {
  position: absolute;
  top: 100px;
  left: 300px;
  width: 32px;
  height: 32px;
  border: 1px solid #45ff26;
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

div.cursors div span {
  position: absolute;
  top: 0;
  left: 40px;
  width: 300px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: var(--coler-yellowgreen);
  transition: opacity 0.5s;
  opacity: 0;
}

div.cursors div span.visible {
  opacity: 1;
}

/* header */
.header {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 70px 0 10px 0;
  z-index: 1000;
  background-color: var(--color-white);
}

.header-con {
  width: 1466px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 나중에 이미지 교체 */
.logo {
  height: 100%;
  margin-right: auto;
}

.header-con > .menu-text > li > a {
  font-family: var(--font-EN);
  font-weight: 300;
  font-size: 18px;
  color: var(--color-black);
  margin-left: 48px;
}

.header-con > .menu-text > li:hover > a {
  color: var(--color-orange);
  font-weight: 500;
}

/* main */

.main,
.sub-desc,
.sub-link,
.text-scroll {
  font-family: var(--font-EN);
}

.main {
  font-weight: 700;
  margin-top: 260px;
  position: relative;
  left: 10px;
}

.main-title {
  position: relative;
  z-index: 50;
}

.line-1 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 14px;
  font-size: 17em;
}

.line-1-title {
  font-family: var(--font-KR);
  font-weight: 500;
  font-size: 34px;
  line-height: 124%;
  letter-spacing: 0.02em;
  color: var(--color-black);
  margin-right: 136px;
}
.line-1 > span:last-child {
  color: var(--color-white);
  text-shadow: 2px 0 0 #FDDA0D, 0 2px 0 #FDDA0D, -2px 0 0 #FDDA0D,
    0 -2px 0 #FDDA0D;
  line-height: 140px;
  font-size: 170px;
}

.line-2 {
  width: 1054px;
  height: 170px;
  background-color: var(--color-green);
  margin-bottom: 20px;
}

.line-2 > span {
  padding: 0 58px;
  line-height: 164px;
  color: var(--color-white);
  font-size: 170px;
}

.sub-link {
  color: var(--color-gray);
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.04em;
  width: 312px;
  height: 86px;
}

.sub-link > li {
  border-top: 1px solid #645454;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-link > li:nth-child(2) {
  border-bottom: 1px solid #645454;
}

.sub-link > li > a {
  color: var(--color-black);
}

.sub-link > li:hover > a {
  color: var(--color-orange);
}

.line-3 > span {
  line-height: 110px;
  color: var(--color-green);
  padding-left: 110px;
  font-size: 170px;
}

.fa-solid {
  transform: rotate(45deg);
  padding-right: 10px;
  margin-top: 10px;
}

.circle {
  width: 260px;
  height: 260px;
  position: absolute;
  top: 10px;
  left: 900px;
  background-color: var(--coler-yellowgreen);
  border-radius: 100%;
  z-index: -1;
}

.sub-desc {
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: var(--color-gray);
  margin-top: 22px;
  margin-left: 428px;
}

/* scroll */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes text {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.text-scroll {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 0.14em;
}

.text-scroll > .track {
  height: 80px;
  width: 100vw;
  transition: background-color 300ms ease, color 300ms ease;
  white-space: nowrap;
  background-color: var(--color-green);
  color: var(--color-white);
}

.track > p > strong {
  color: var(--color-orange);
}

.text {
  animation: scroll 50000ms linear infinite;
  align-items: center;
  display: inline-flex;
  will-change: transform;
}

/* work-scroll */

.work-scroll {
  margin-top: 70px;
}

/* about, contact scroll */

.about-scroll-white > .track,
.contact-scroll-white > .track {
  margin-top: 70px;
  border-top: 2px solid #FDDA0D;
  background-color: var(--color-white);
  color: var(--color-green);
}

/* work */

h1,
.work-title,
.work-content-desc {
  font-family: var(--font-EN);
}

h1 {
  font-size: 40px;
}

.work-content h2 {
  font-weight: 700;
  font-size: 34px;
  margin-top: 6px;
}

.work-content h3 {
  display: inline-block;
  padding: 0.1em 0.4em;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-white);
  background-color: var(--color-green);
}

.work-content p {
  font-family: var(--font-KR);
  color: var(--color-black);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.work-title {
  margin-top: 100px;
}
.work {
  margin-left: 227px;
  margin-top: 150px;
  width: 100%;
}

.work-content {
  flex-wrap: nowrap;
  gap: 0 60px;
}

/* work -- forseaon */
.work-content-box {
  width: 610px;
  height: 374px;

  margin-top: 70px;
}

.work-content-desc {
  margin-top: 20px;
}

/* work -- nanda / kakao */
.nanda-box,
.kakao-box {
  background-color: var(--color-yellow);
}

/* work -- lion */
.lion-box {
  background-color: var(--color-sky);
}

/* about me */

.about {
  margin-top: 100px;
  font-family: var(--font-KR);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.aboutme-title > h1 {
  margin-right: 130px;
}

.aboutme-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-desc {
  margin-top: 110px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 38px;
}

.aboutme-title {
  align-items: start;
}

.aboutme-title > p {
  margin-top: -10px;
}

.aboutme-circle {
  width: 282px;
  height: 282px;
  background-color: var(--color-green);
  border-radius: 100%;
  position: relative;
}

.aboutme-circle > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutme-circle > p {
  text-align: center;
  position: absolute;
  top: 320px;
  left: 0;
  white-space: nowrap;
}

.circle-2,
.circle-3,
.circle-4 {
  background-color: var(--color-white);
  border: 3px solid #FDDA0D;
}

.aboutme-line {
  margin-top: 190px;
  width: 1468px;
  border: 0.8px solid #645454;
  opacity: 0.6;
}

.skills-title {
  margin-top: 110px;
}

.skills-title > p {
  margin-top: -10px;
}

.skill-circle {
  width: 210px;
  height: 210px;
  background-color: var(--color-green);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.skill-circle-2 {
  border: 2px solid #FDDA0D;
  background-color: white;
}

/* 그래프 애니메이션 */

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}

.pie {
  --p: 20; /* the percentage */
  --b: 12px; /* the thickness */
  --c: darkred; /* the color */
  --w: 200px; /* the size*/

  width: var(--w);
  aspect-ratio: 1/1;
  position: relative;
  display: inline-grid;
  place-content: center;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}
.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg - 90deg))
    translate(calc(var(--w) / 3 - 100%));
  background-color: var(--color-green);
}
.animate {
  animation: p 1s 0.5s both;
}

@keyframes p {
  from {
    --p: 0;
  }
}

/* skill-graph */

.graph-desc,
.graph-circle-text {
  align-items: center;
}

.skill-graph {
  margin-top: 168px;
  flex-wrap: wrap;
  gap: 0 136px;
  justify-content: center;
  position: relative;
}

.skill-graph:after {
  content: "";
  width: 1552px;
  height: 1px;
  background-color: var(--color-green);
  position: absolute;
  top: 174px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graph-desc {
  width: 136px;
}

.graph-circle {
  width: 122px;
  height: 122px;
  outline: 12px solid #fff;
  outline-offset: -12px;
  border-radius: 100%;
  position: relative;
}

.graph-circle > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graph-circle-line {
  width: 18px;
  height: 1px;
  background-color: var(--color-green);
  transform: rotate(90deg);
  margin-top: 50px;
}

.graph-circle-text {
  margin-top: 24px;
  font-family: "Readex Pro";
  font-weight: 300;
  font-size: 18px;
  color: var(--color-gray);
}

/* Skills End */

/* Name Line */

#slogan {
  text-align: center;
  font-size: 36px;
  margin-top: 10%;
  color: #fff;
}
#slogan span { color: #FDDA0D }
#slogan span.selected {
  background: #09f;
  color: #fff;
}

/* Name Line End */

/* Lets Connect */

.container {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
}

svg {
    display: block;
    font: 10.5em 'Roboto';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* Lets connect end */